.tasks{
    display: flex;
    flex-direction: column;
    row-gap: var(--ten-spaces);
    width: 100%;
}

.list{
    display: flex;
    flex-direction: column;
    row-gap: var(--two-spaces);
}

.actionsForm{
    display: flex;
    justify-content: flex-end;
}

.form{
    display: flex;
    flex-direction: column;
    row-gap: var(--two-spaces);
}
