:root{
    --black: #131515;
    --grey: #2B2C28;
    --light-grey: #a5a5a5;
    --green: #339989;
    --primary: #7DE2D1;
    --red: #ff3c38;
    --white: #FFFAFB;
    --space: 4px;
    --half-space: calc(var(--space) / 2);
    --two-spaces: calc(var(--space) * 2);
    --four-spaces: calc(var(--space) * 4);
    --six-spaces: calc(var(--space) * 6);
    --ten-spaces: calc(var(--space) * 10);
    --font-size-control: 1rem;
    --font-weight-control: 400;
    --border: 1px solid;
    --border-primary: var(--border) var(--primary);
    --ms-transition: 200ms;
}

html, body, #root{
    font-family: 'Inter', sans-serif;
    height: 100%;
    color: var(--white);
    background-color: var(--black);
    line-height: 1.2;
}

html, body{
    font-size: 16px;
}

#root{
    font-size: 1rem;
}

ul, ol{
    list-style: none;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::-moz-selection{
    background: var(--primary);
    color: var(--black);
}

::selection{
    background: var(--primary);
    color: var(--black);
}

@media(max-width: 800px){
    html, body{
        font-size: 14px;
    }
}
